<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
	<listener class-name="com.AutomationFrameowork.listeners.CustomListener"></listener>
	<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
	<listener class-name="com.AutomationFrameowork.listeners.ExtentListeners"></listener>
	<!--<listener class-name="com.AutomationFrameowork.listeners.Retry_Listener"></listener>-->
</listeners>
    <test thread-count="5" name="TestA">
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="url" value="https://practice.automationtesting.in/"></parameter>
    <classes>
      <class name="com.AutomationFramework.testCases.BasketTestCases">
	     <methods>
	     	<include name="verifyUserAbleToAddProductsIntoTheBasket"></include>
	     </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
